{% extends 'seguros/base.html' %}

{% block content %}
<h1>Lista de Pólizas</h1>

<div class="tabla">
    <table>
        <thead>
            <tr>
                <th>Número Póliza</th>
                <th>Cliente</th>
                <th>Suma Asegurada</th>
                <th>Prima Anual</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for poliza in polizas %}
            <tr>
                <td>{{ poliza.numero_poliza }}</td>
                <td>{{ poliza.cliente.usuario.first_name }} {{ poliza.cliente.usuario.last_name }}</td>
                <td>${{ poliza.suma_asegurada }}</td>
                <td>${{ poliza.prima_anual }}</td>
                <td>{{ poliza.estado }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align: center;">No hay pólizas registradas</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}